{% extends "main.html" %}
{% block content %}
<section class="section">
    <div class="container">
        <div class="box">
            <article class="media">
              <div class="media-left">
                <figure class="image is-64x64">
                  <img src="static/favicon/merge-pdf.jpg" alt="Image">
                </figure>
              </div>
              <div class="media-content">
                <div class="content">
                  <p>
                    <strong>Łączenie PDF</strong> 
                    <br>
                    
                    <a href="/pdf" class="button is-primary">Połącz PDF</a>
                    </p>
                </div>
              </div>
            </article>
          </div>
    </div>
  </section>
  <section class="section">
    <div class="container">
        <div class="box">
            <article class="media">
              <div class="media-left">
                <figure class="image is-64x64">
                  <img src="static/favicon/locked-pdf.jpg" alt="Image">
                </figure>
              </div>
              <div class="media-content">
                <div class="content">
                  <p>
                    <strong>Zaszyfruj swojego PDF`a</strong> 
                    <br>
                    <a href="/pdf" class="button is-primary">Zaszyfruj PDF</a>
                     </p>
                </div>
                
              </div>
            </article>
          </div>
    </div>
  </section>
  <section class="section">
    <div class="container">
        <div class="box">
            <article class="media">
              <div class="media-left">
                <figure class="image is-64x64">
                  <img src="static/favicon/watermark.png" alt="Image">
                </figure>
              </div>
              <div class="media-content">
                <div class="content">
                  <p>
                    <strong>Dodaj znak wodny do swojego PDF`a</strong> 
                    <br>
                    <a href="/pdf" class="button is-primary">Znak wodny</a>
                     </p>
                </div>
                
              </div>
            </article>
          </div>
    </div>
  </section>

{%endblock content%}